<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                body { background-color: lavender; }
                div.main { display: flex; flex-direction: row; flex-wrap: wrap; }
                div.catalogs { flex: 1 0 20%; border-right: 1px solid #01295f; }
                div.files { flex: 1 0 70%; }
                table.files-table { width: 500px; }
                table.files-table tr td:nth-of-type(2) { text-align: center; }
                table.files-table tr td:nth-of-type(3) { text-align: right; }
                div.status-bar { flex: 0 1 100%; border: 1px solid #01295f; padding: 5px; }
                a { color: #1d3461; text-decoration: none; }
                a.selected { color: #0074be; }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                    crossorigin="anonymous">
            </script>
        {% endblock %}
    </body>
</html>
