<li>
    <a data-id="{{ catalog.id }}" href="{{ path('main', {'catalogId': catalog.id}) }}" class="catalogItem {{ catalog.id == selectedId ? 'selected' }}">{{ catalog.name }}</a>
    <ul>
    {% for child in catalog.catalogs %}
        {{ include('catalog.html.twig', { 'catalog': child }) }}
    {% endfor %}
    </ul>
</li>