{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Files Catalog ({{ selectedId }}){% endblock %}

{% block body %}
    <div class="main">
        <div class="catalogs">
            <ul>
                {{ include('catalog.html.twig', { 'catalog': root }) }}
            </ul>
        </div>
        <div class="files">
            <table class="files-table">
                <tr><th>Name</th><th>Type</th><th>Size</th></tr>
                {% for file in selected.files %}
                    <tr class="d"><td>{{ file.name }}</td><td>{{ file.type }}</td><td>{{ file.size }}&nbsp;bytes</td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="status-bar">Files in this catalog: <span id="filesInCatalog">{{ selected.files | length }}</span> | Total files: {{ totalFiles }} | Total size: {{ totalSize }} bytes</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var matches = location.hash.match(/\d+/);
            if (matches != null)
            {
                var hash = matches[0];
                getFiles(hash);
            }
        });

        function getFiles(catalogId)
        {
            // Clear old data
            $('.files-table tr.d').remove();

            $.ajax({ url: '/ajax/' + catalogId })
                .done(function( data ) {
                    // Fill in the table
                    data.catalog.files.forEach(function(file) {
                        $('.files-table').append(
                            '<tr class="d"><td>' + file.name + '</td><td>' + file.type + '</td><td>' + file.size + ' bytes</td></tr>'
                        );
                    });
                    $('#filesInCatalog').text(data.catalog.files.length);
                });
        }

        $('a.catalogItem').click(function () {
            onSelectCatalog($(this).data('id'));
            return false;
        });

        function onSelectCatalog(catalogId)
        {
            location.hash = catalogId;
            // Get files for the catalog
            getFiles(catalogId);
        }
    </script>
{% endblock %}